.main__section-info {
  padding: var(--padding-x);
}

.info-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* h2 line style  */
.main__section-info .section-heading::after {
  top: -0.5rem;
}

.main__section-info .section-heading+p {
  margin: 3rem 0;
}

.main__section-info a {
  font-weight: 700;
  color: var(--dark-brown);
}

/* image grid  */
.img-holder-3 {
  margin-left: 2.5rem;
}

@media screen and (max-width:48rem) {
  .main__section-info {
    padding: 0;
    padding-top: 3rem;
  }

  .main__section-info .col-md-6 {
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width:26rem) {
  .main__section-info .section-heading+p {
    margin: 2rem 0;
  }
}