/* front page  */
.main__front {
  background: url("../../assets/HeroImagelg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);

  padding: var(--padding-x);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding-right: 50%;
  padding-bottom: 15vh;
}

/* h1  */
.main__heading {
  font-family: var(--mystery-font), Arial, Helvetica, sans-serif;
}

/* cat image  */
.main__heading+div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main__heading+div img {
  width: 15rem;
}

.main__front>p {
  margin: 1rem 0 2rem;
}

@media screen and (max-width:48rem) {

  /* 768 px  */
  .main__front {
    background-image: url("../../assets/HeroImagemd.png");

    padding-right: 50%;
  }

  .main__front>p br {
    display: none;
  }
}

@media screen and (max-width:31.25rem) {
  .main__front {
    padding-right: 35%;
  }
}

@media screen and (max-width:26rem) {

  /* 400px  */
  .main__front {
    background-image: url("../../assets/HeroImagesm.png");
    padding-top: 3rem;
    padding-right: 30%;
  }
}