/* front page  */
.main__front {
  background: url("../../assets/HeroImagelg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);

  padding: 6vw;
  border-radius: 3rem 3rem 0 0;
  padding-right: 50%;
  padding-bottom: 15vh;
}

/* h1  */
.main__heading {
  font-family: var(--mystery-font), Arial, Helvetica, sans-serif;
}

/* cat image  */
.main__heading+div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main__heading+div img {
  width: 15rem;
}

.main__front>p {
  margin: 1rem 0;
}

@media screen and (max-width:50rem) {
  .main__front {
    background-image: url("../../assets/HeroImagemd.png")
  }
}

@media screen and (max-width:25rem) {
  .main__front {
    background-image: url("../../assets/HeroImagesm.png")
  }
}