footer {
  margin-top: 2rem;
}

footer>div {
  background: var(--black);
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  padding: 2rem var(--padding-x);
  color: var(--white);
}

footer a {
  margin-right: auto;

  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width:48rem) {
  footer>div {
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }

  footer a {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}