@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mystery+Quest&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --mystery-font: 'Mystery Quest', cursive;
  --padding-x: 5vw;
  --border-radius: 3rem;

  --very-light-brown: #544439;
  --light-brown: #4D270C;
  --brown: #291507;
  --dark-brown: #29150799;

  --very-light-yellow: #E3E1DC;
  --light-yellow: #DEC68B;

  --very-light-red: #E0E0E0;

  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--brown);
}

header,
main,
footer {
  padding: 0 var(--padding-x);
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section {
  min-height: 60vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

.section-heading {
  position: relative;

  width: -moz-fit-content;
  width: fit-content;

  font-size: 2.5rem;
}

.section-heading::after {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 5px;
  border-radius: 0.5rem;

  background-color: var(--brown);
}

a {
  font-weight: 500;
  color: inherit;

  text-decoration: none;
}

a:hover {
  color: inherit;
}