@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mystery+Quest&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --mystery-font: 'Mystery Quest', cursive;
  --padding-x: 5vw;

  --very-light-brown: #544439;
  --light-brown: #4D270C;
  --brown: #291507;
  --dark-brown: #29150799;

  --very-light-yellow: #E3E1DC;
  --light-yellow: #DEC68B;

  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--brown);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

section {
  min-height: 60vh;
}